h2 {
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

fieldset {
    margin: 10px;
    border-radius: 10px;
}

h3 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff; /* opcional, pero recomendado para que el menú tenga un fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* opcional, pero recomendado para dar un efecto de sombra */
}

button {
    background-color: #f72;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
    border: #000;
    width: 200px;
    height: 20px;
    margin-left: 525px;
}

