/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  label {
    cursor: pointer;
  }
  
  /* Estilos para los botones de submit y reset */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="reset"] {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  button[type="reset"]:hover {
    background-color: #bbb;
  }