/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .question {
    margin-bottom: 20px;
    font-size: 1.3em;
    padding: 10px;
  }

  fieldset {
    border-radius: 7px;
    margin: 20px;
    padding: 20px;
  }
  
  .results {
    color: #000;
}

  .menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff; /* opcional, pero recomendado para que el menú tenga un fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* opcional, pero recomendado para dar un efecto de sombra */
  }

  .question fieldset {
    font-weight: bold;
    margin-bottom: 10px;
  }

  h1 {
    text-align: center;
    font-size: 2em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  label {
    cursor: pointer;
  }
  
  /* Estilos para los botones de submit y reset */
  button[type="submit"] {
    background-color: #fff;
    color: #2f8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="reset"] {
    background-color: #fff;
    color: #f37;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
